{{ partial:header }}

<main class="w-full">

<div class="h-[calc(100vh-100px)] max-h-[1024px] w-full relative overflow-hidden">
    <img class="w-full h-full absolute object-cover" src="/images/landing.jpg" alt="Hero image" />
    <div class="overlay"></div>
    <div class="absolute inset-0 flex flex-col items-center justify-center">
        <div class="container text-center w-full max-w-lg">
            <h2 class="text-white text-6xl font-bold">Water, Wetlands & Wildlife</h2>
            <p class="text-white text-2xl font-normal">Inspiring & leading action for healthy rivers across Sussex</p>
            <div>
                <a class="btn" href="#">
                    <span>See how</span>
                </a>
            </div>
        </div>
    </div>
    {{ svg src="/assets/svg/wave.svg" class="fill-sky-950 w-full absolute bottom-0 block -mb-1" }}
</div>
<div class="bg-sky-950">
    <div class="container py-16">
        <div class="flex flex-col text-center items-center max-w-lg mx-auto">
            <h2 class="sub-title text-center text-white">
                Our Vision
            </h2>
            <hr class="w-24 h-4 border-t-4 border-t-sky-600 my-4"/>
            <p class="font-semibold text-2xl text-white">
                Our vision is a rich and diverse water environment which supports a range of wildlife and inspires individuals and communities to protect and enhance their local river systems.
            </p>
        </div>
    </div>
</div>
<div class="bg-white relative w-full overflow-hidden py-[4vw]">
    <div class="absolute inset-0 hidden lg:block">
        <div class="container h-full">
            <div class="grid h-full lg:grid-cols-12 gap-6">
                <div class="lg:col-span-5 relative pr-12">
                    <div class="absolute bg-stone-300 inset-0 w-screen left-auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ svg src="/assets/svg/wave-out.svg" class="fill-sky-950 w-full block absolute top-0 bg-stone-300 lg:bg-transparent" }}
<div class="bg-stone-300 h-16 lg:bg-transparent"></div>
    <div class="container">
        <div class="grid lg:grid-cols-12 gap-6">
            <div class="lg:col-span-5 relative bg-stone-300 -mx-4 py-8 px-4 lg:mx-0 lg:px-0 lg:py-8 lg:pr-12">
                <div class="relative">
                    <h2 class="sub-title mb-8">
                        Our Approach
                    </h2>
                    <p class="headline">
                        Here we set out our core workstreams until 2030.
                    </p>
                </div>
            </div>
            <div class="lg:col-span-7 lg:pl-12 py-8">
                <div class="grid grid-cols-12 gap-6">
                    {{ loop times="8"}}
                        <div class="col-span-6">
                            <p class="font-semibold text-2xl">Chalk waters:</p>
                            <p>Enhancing Sussex Chalk Streams</p>
                        </div>
                    {{ /loop }}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-stone-300 h-16 lg:bg-transparent"></div>
    {{ svg src="/assets/svg/wave.svg" class="fill-sky-950 w-full absolute bottom-0 block  bg-stone-300 lg:bg-transparent lg:mb-[-2px]" }}
</div>
<div class="bg-sky-950 text-white">
    <div class="container py-16">
        <div class="grid lg:grid-cols-12 gap-6">
            <div class="lg:col-span-4 relative -mx-4 py-8 px-4 lg:mx-0 lg:px-0 lg:py-8 ">
                <h2 class="sub-title mb-8">
                    State of Our Rivers
                </h2>
                <p class="headline">
                    Latest data from our monthly checkups
                </p>
                <div class="mt-8">
                    <input type="range" class="w-full slider"/>
                    <div class="flex justify-between">
                        <span class="transform lg:-translate-x-1/2">2010</span>
                        <span class="transform lg:translate-x-1/2">2024</span>
                    </div>
                </div>
            </div>
            <div class="lg:col-span-6 pt-20">
                <table class="w-full">
                    {{ loop times="3" }}
                    <tr>
                        <td class="w-1/3 align-middle text-right pr-4">
                            {{ switch between="Ammonia Levels|Phosphate Levels|Nitrate Levels"}}
                        </td>
                        <td class="w-2/3 py-1">
                            <div style="width:{{ switch between="80%|50%|30%"}}" class=" bg-white h-8 bg-opacity-30"></div>
                        </td>
                    </tr>
                    {{ /loop }}
                </table>
            </div>
            <div class="lg:col-span-2 font-bold leading-none opacity-30 pt-20">
                <span class="text-[100px] leading-[100px] -mb-6 block">MAR</span>
                <span class="text-[64px]">2024</span>
            </div>
        </div>
    </div>
</div>
<div class="bg-white relative pt-[4vw]">
    {{ svg src="/assets/svg/wave-out.svg" class="fill-sky-950 w-full block absolute top-0 " }}
    <div class="container py-16 max-w-4xl">
        <h2 class="sub-title text-center ">
            Our Projects
        </h2>
        <hr class="w-24 h-4 border-t-4 border-t-sky-600 my-4 mx-auto"/>
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-8">
                <div class="relative">
                    <img class="w-full aspect-square" src="/cows.jpg"/>
                    <div class="overlay"></div>
                    <div class="absolute inset-4 flex flex-col justify-end">
                        <h3 class="sub-title text-white">Something</h3>
                        <h2 class="headline text-white">INNS Project</h2>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-subgrid col-span-8">
                <div class="relative col-span-4">
                    <img class="w-full aspect-square" src="/cows.jpg"/>
                    <div class="overlay"></div>
                    <div class="absolute inset-4 flex flex-col justify-end">
                        <h3 class="sub-title text-white">Something</h3>
                        <h2 class="headline text-white !text-3xl">INNS Project</h2>
                    </div>
                </div>
                <div class="relative col-span-4">
                    <img class="w-full aspect-square" src="/cows.jpg"/>
                    <div class="overlay"></div>
                    <div class="absolute inset-4 flex flex-col justify-end">
                        <h3 class="sub-title text-white">Something</h3>
                        <h2 class="headline text-white !text-3xl">INNS Project</h2>
                    </div>
                </div>
            </div>
            <div class="col-span-4 row-start-1 col-start-9  row-span-2 flex flex-col justify-between">

                {{ loop times="5"}}
                <div class="relative flex gap-4 text-sky-950">
                    <div class="relative">
                        <img class="w-full aspect-square" src="/cows.jpg"/>
                        <div class="overlay"></div>
                    </div>
                    <div class="">
                        <h3 class="sub-title ">Something</h3>
                        <h2 class="headline !text-2xl">INNS Project</h2>
                    </div>
                </div>
                {{ /loop }}
            </div>
        </div>
    </div>
</div>
</main>

{{ partial:footer }}
