{{#
    @name Header
    @desc The sites header rendered on each page.
#}}

<!-- /layout/_header.antlers.html -->


<header class=" {{if iframe}} relative bg-[#052428]{{ else }} absolute {{/if}} w-full z-50">
    <div class="container">
        <div class="flex justify-between">
        <a class="bg-zinc-900  text-white px-4 pt-3 pb-1 flex gap-4 w-72">
            <img src="/images/logo.png" alt="Logo" class="h-12 w-auto" />
            <h1 class="font-bold text-3xl leading-none">Ouse & Adur Rivers Trust</h1>
        </a>
        {{ partial:navigation/main }}

    </div>
    </div>
</header>

