<div class="h-[calc(100vh-100px)] max-h-[800px] w-full relative overflow-hidden hero bg-zinc-950">
    {{ if image}}
    {{ image}}
    <img class="w-full h-full absolute object-cover blurred" src="{{url}}" alt="{{alt}}" />
    <img class="w-full h-full absolute object-cover" src="{{url}}" alt="{{alt}}" />
    {{ /image}}
    {{ else}}
    {{ fallback_image:image}}
    <img class="w-full h-full absolute object-cover blurred" src="{{url}}" alt="{{alt}}" />
    <img class="w-full h-full absolute object-cover" src="{{url}}" alt="{{alt}}" />
    {{ /fallback_image:image }}
    {{ /if }}
    <div class="overlay"></div>
    <div class="absolute inset-0 flex flex-col items-center justify-center">
        <div class="container text-center w-full max-w-xl space-y-4">
            <div class="text-white text-xl lg:text-2xl [&>h2]:text-4xl [&>h2]:lg:text-6xl [&>h2]:font-extrabold space-y-2">
                {{ if caption }}
                {{ caption }}
                {{ else }}
                    {{ partial:typography/h2 :content="title" color="white"}}
                {{ /if }}
            </div>
            <div>
                {{ partial:components/button inverted="true" }}
            </div>
        </div>
    </div>
    {{ svg src="/assets/svg/wave.svg" class="absolute fill-white bottom-0 w-full block -mb-[1px] " }}
</div>


