{{#
    @name Main desktop navigation
    @desc The sites main desktop navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}


<!-- /navigation/_main_desktop.antlers.html -->
<nav class="hidden md:block" aria-label="{{ trans:strings.main_navigation }}">
    <ul class="flex ml-auto px-3 bg-sky-600 h-full">
        {{ nav:main max_depth="2" include_home="true" select="title|url" }}
            {{ unless no_results }}
                <li
                    {{ if children }}
                        x-data="{ subnavOpen: false }"
                        @keyup.escape.stop.prevent="subnavOpen = false"
                        @focusin.window="!$refs.subnav.contains($event.target) && (subnavOpen = false)"
                    {{ /if }}
                    class="relative leading-none nav-link"
                >
                    <a
                        class="
                            flex items-center font-bold text-sm hover:text-sky-200 gap-2
                            {{ is_current || is_parent
                                ? 'text-sky-200'
                                : 'text-white' }}
                        "
                        {{ if children }}
                            href="#"
                            @click.prevent="subnavOpen = !subnavOpen"
                            :aria-label="subnavOpen
                                ? '{{ trans:strings.subnav_close }}'
                                : '{{ trans:strings.subnav_open }}'"
                            :aria-expanded="subnavOpen"
                        {{ else }}
                            href="{{ url }}"
                        {{ /if }}
                        {{ is_current ?= 'aria-current="page"' }}
                    >
                        {{ title }}
                        {{ if children }}
                        <div class="pb-1">
                            <div :class="{ 'scale-y-[-1]': subnavOpen }" class="motion-safe:transition-transform origin-center ">
                                {{ svg:chevron_down attr:class="w-2 ml-1 overflow-visible stroke-current text-white" attr:aria-hidden="true" }}
                            </div>
                        </div>
                        {{ /if }}
                    </a>
                    {{ if children }}
                        <ul
                            x-show="subnavOpen"
                            x-ref="subnav"
                            class="absolute top-full left-0 py-2 px-6 bg-white border border-neutral/10 shadow"
                            @click.outside="subnavOpen = false"
                            x-transition
                            x-cloak
                        >
                            {{ children }}
                                <li class="">
                                    <a
                                        class="
                                            whitespace-nowrap py-2 block text-base font-bold hover:text-primary
                                            {{ is_current || is_parent
                                                ? 'text-primary'
                                                : 'text-neutral' }}
                                        "
                                        href="{{ url }}"
                                        {{ is_current ?= 'aria-current="page"' }}
                                    >
                                        {{ title }}
                                    </a>
                                </li>
                            {{ /children }}
                        </ul>
                    {{ /if }}
                </li>
            {{ /unless }}
        {{ /nav:main }}
    </ul>
</nav>
<!-- End: /navigation/_main_desktop.antlers.html -->
