<div class="bg-white relative">
    <div class="container py-16 max-w-4xl">
        <h2 class="sub-title text-center ">
            {{ heading}}
        </h2>
        <hr class="w-24 h-4 border-t-4 border-t-sky-600 my-4 mx-auto"/>
        <div class="grid grid-cols-12 gap-4">
            {{ projects | limit="1" }}
            <div class="col-span-8">
                <div class="relative group overflow-hidden">
                    <a href="{{url}}" class="inset-0 absolute z-20"></a>
                    {{ image }}
                    <img class="w-full aspect-square transition group-hover:scale-105" src="{{url}}" alt="{{alt}}"/>
                    {{ /image }}
                    <div class="overlay"></div>
                    <div class="absolute inset-4 flex flex-col justify-end">
                        {{work limit="1"}}
                        <h3 class="sub-title text-white">{{title}}</h3>
                        {{/work}}
                        <h2 class="headline text-white"> {{ title }}</h2>
                    </div>
                </div>
            </div>
            {{ /projects }}
            <div class="grid grid-cols-subgrid col-span-8">
                {{ projects | limit="3" | offset="1" }}
                <div class="relative col-span-4 group overflow-hidden">
                    <a href="{{url}}" class="inset-0 absolute z-20"></a>
                    {{ image }}
                    <img class="w-full aspect-square transition group-hover:scale-105" src="{{url}}" alt="{{alt}}"/>
                    {{ /image }}
                    <div class="overlay"></div>
                    <div class="absolute inset-4 flex flex-col justify-end">
                        {{work limit="1"}}
                        <h3 class="sub-title text-white">{{title}}</h3>
                        {{/work}}
                                                <h2 class="headline text-white !text-3xl">{{ title }}</h2>
                    </div>
                </div>
                {{ /projects }}
            
            </div>
            <div class="col-span-4 row-start-1 col-start-9  row-span-2 flex flex-col gap-4">

                {{ projects | limit="10" | offset="3" }}

                <div class="relative flex gap-4 text-sky-950">
                    <a href="{{url}}" class="inset-0 absolute z-20"></a>
                    <div class=" group overflow-hidden w-1/3">
                        <div class="relative">
                            {{ image }}
                            <img class="w-full aspect-square transition group-hover:scale-105" src="{{url}}" alt="{{alt}}"/>
                            {{ /image }}
                            <div class="overlay"></div>
                        </div>
                    </div>
                    <div class="flex-1">
                        {{work limit="1"}}
                        <h3 class="sub-title !text-sm">{{title}}</h3>
                        {{/work}}
                        <h2 class="headline !text-xl">{{ title }}</h2>
                    </div>
                </div>
                {{ /projects }}
            </div>
        </div>
        <p class="text-center p-12 ">
            <a class="
                inline-flex items-baseline gap-0.5 font-bold motion-safe:transition btn" href="/our-projects">
            <span class="text-ellipsis overflow-x-clip">
                See more
            </span>
    
            
        </a>

        </p>
    </div>
</div>
